// Colores
$blanco: #fffcf2;
$negro: #000000;
$primary-color: #910f0f;
$secondary-color: #700b0b;

//Tamaño de Media Queries
$telefono: 340px;
$tablet: 600px;
$desktop: 860px;

//Fuentes
$fuente-principal: "Montserrat", sans-serif;
